body {
    color: #333333;
    background-color: #E8E5C7;
    background-image: url(../img/bg.png);
    background-repeat:
}

#page {
    width: 780px;
    margin: 0 auto;
    /*background-color: #CCCCCC;*/
}

#headTop {
    width: 567;
    float: right;
}

#headTop .globalNavi {
    border: solid #333333;
    border-width: 1px 0;
    padding: 10px 0;
}

#headTop .globalNavi ul {
    margin: 0;
    padding: 0;
}

#headTop .globalNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#headTop .globalNavi ul li {
    list-style: none;
    width: 189;
    float: left;
    border-left: solid 1px #333333;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    line-height: 1.429;
}

#headTop .globalNavi ul li:first-child {
    border-left: none;
}

#headTop .globalNavi ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#headTop .globalNavi ul li a:hover {
    background-color: #D1CEAD;
}

#headSide {
    background-color: #D1CEAD;
    width: 213;
    text-align: center;
    float: left:
}

#catchcopy {
    color: #A07221;
}

#contents table {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 1px solid;
}

#contents table th,
#contents table td {
    padding: 5px 10px;
}

#none {
    height: 300;
}

#pageBody {
    width: 567;
    float: right;
}
