html, body {
    height: 100%;
}

body {
    background-color: #E8E5C7;
    background-image: url(../img/bg.png);
    background-repeat:;
}

#page {
    width: 780;
    margin: 0 auto;
    height: 100%;
}

/***** globalNavi *****/
#globalNavi {
    border: solid #A07221;
    border-width: 3px 0;
    padding: 10px 0;
    float: right;
}

#globalNavi ul {
    margin: 0;
    padding: 0;
}

#globalNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#globalNavi ul li {
    list-style: none;
    width: 189;
    float: left;
    border-left: solid 1px #A07221;
    padding: 0 10px;
    /*-moz-box-sizing: border-box;
    box-sizing: border-box;*/
    text-align: center;
    font-size: 14px;
    line-height: 1.429;
}

#globalNavi ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#globalNavi ul li a:hover {
    background-color: #D1CEAD;
    background-color: #C34A43;
}

/***** sideBar *****/
#sideBar {
    background-color: #D1CEAD;
    width: 213;
    height: 100%;
    text-align: center;
    float: left;
}

#catchcopy {
    color: #A07221;
}

/***** pageBody *****/
#pageBody {
    /*background-color: #FFFFFF;*/
    width: 567;
    text-align: center;
    float: right;
}

#mainContents {
    background-color: #FFFFFF;
    width: 530;
    height: 300;
    margin: 0px auto;
}
