[Unit]
Description=Beagle Bone Configuration
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/bin/start_conf.py

[Install]
WantedBy=multi-user.target
