<?php include_once($_SERVER['DOCUMENT_ROOT'].'/common/template/template.php') ?>
<?php set_head('テンプレート', __FILE__); ?>

<div id="pageBodyMain">
    <article>
        <header class="articleDetailHead">
            <h1 class="pageTitle">テンプレート</h1>
        </header>

        <section class="articleDetailBody" id="body">

            <div id="objective">
                <h2 class="heading-typeA">目的</h2>
            </div><!-- objective -->

            <div id="methods">
                <h2 class="heading-typeA">方法</h2>
                <div id="provide">
                    <h3 class="heading-typeB">準備</h3>
                    <p>まずは下記のものを用意してください</p>
                    <ol>
                        <li>ブツ</li>
                    </ol>
                </div><!-- provide -->

                <div id="thema1">
                    <h3 class="heading-typeB">テーマ1</h3>
                    <div id="thema1-1">
                        <h4 class="heading-typeD">テーマ1-1</h4>
                        <pre class="brush: bash;">
                        </pre>
                    </div><!-- thema1-1 -->
                </div><!-- thema1 -->
            </div><!-- methods -->

            <div id="conclusion">
                <h2 class="heading-typeA">おわりに</h2>
                <p>いかがでしたでしょうか。
                わからないことなどがありましたら、ご質問だくさい。</p>
                <p>XXXX/X/XX</p>
            </div><!-- conclusion -->

        </section><!-- body -->

        <footer class="articleDetailFoot">
            <section id="body">
                <h2 class="heading-typeC">参考サイト</h2>
                <ul>
                </ul>
            </section><!-- body -->
        </footer>
    </article>
</div><!-- pageBodyMain -->

<div id="pageBodySub">
    <nav class="localNavi">
        <dl>
            <dt>目次</dt>
            <dd><a href="#objective">目的</a></dd>
            <dd>
                <a href="#methods">方法</a>
                <ol>
                    <li><a href="#provide">準備</a></li>
                    <li><a href="#thema1">テーマ1</a></li>
                    <ul>
                        <li><a href="#thema1-1">テーマ1-1</a></li>
                    </ul>
                </ol>
            </dd>
            <dd><a href="#conclusion">終わりに</a></li>
        </dl>
    </nav>
</div><!-- pageBodySub -->

<?php set_foot(); ?>
