<?php include_once("/srv/http/website/root/common/template/template.php"); ?>
<?php set_head(__FILE__); ?>

<div id="pageBodyMain">
    <article>
        <header class="articleDetailHead">
            <h1 class="pageTitle">タイトル</h1>
            <figure>
                <img src="/common/img/img.png" alt="" width="213" height="133">
            </figure>
        </header>

        <section class="articleDetailBody" id="body">
            <h2 class="heading-typeA" id="subtitle">サブタイトル</h2>
            <p>contents</p>
            <section id="body">
                <h3 class="heading-typeB" id="subtitle2">サブタイトル</h3>
                <p>contents</p>
            </section><!-- body -->
        </section><!-- body -->

        <footer class="articleDetailFoot">
            <section id="body">
                <h2 class="heading-typeC">参考サイト</h2>
                <ul>
                    <li><a href="http://www.example.com/">example.com</a></li>
                </ul>
            </section><!-- body -->
        </footer>
    </article>
</div><!-- pageBodyMain -->

<div id="pageBodySub">
    <nav class="localNavi">
        <dl>
            <dt>目次</dt>
            <dd><a href="#link">目的</a></dd>
            <dd><a href="#link">原理</a></dd>
            <dd><a href="#link">使用機器</a></dd>
            <dd>
                <a href="#link">方法</a>
                <ol>
                    <li><a href="#link">準備</a></li>
                    <li><a href="#link">実施</a></li>
                </ol>
            </dd>
        </dl>
    </nav>
</div><!-- pageBodySub -->

<?php set_foot(); ?>
